.post-card{
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}

.post-card__title{
    font-size: 26px;
    font-weight: bold;
    line-height: 38px;
    color: #21243D;
}

.post-card__date-and-tags{
    display: flex;
    align-items:center;
    margin-top: 37px;
}


.post-card__date-and-tags__element{
    font-size: 18px;
    font-weight: 400;
    margin-left: 24px;
}

.post-card__date-and-tags__element:first-child{
    margin-left: 0px;
}

.post-card__date-and-tags__element:nth-child(2){
    font-size: 18px;
    font-weight: 400;
    height: 15px;
    border-right: 1px solid black;
}


.post-card__description{
    font-size: 16px;
    font-weight: 400;
    margin-top: 21px;
}


@media (max-width:810px){
    
    .post-card{
        background-color: white;
        padding: 20px;
        border-radius: 4px;
    }
    
    .post-card__title{
        font-size: 22px;
        font-weight: bold;
        line-height: 30px;
        color: #21243D;
    }
    
    .post-card__date-and-tags{
        display: flex;
        align-items:center;
        margin-top: 12px;
    }
    
    .post-card__date-and-tags__element{
        font-size: 16px;
        font-weight: 400;
        margin-left: 24px;
    }
    
    .post-card__date-and-tags__element:first-child{
        margin-left: 0px;
    }
    
    .post-card__date-and-tags__element:nth-child(2){
        font-size: 18px;
        font-weight: 400;
        height: 15px;
        border-right: 1px solid black;
    }
    
    .post-card__description{
        font-size: 16px;
        font-weight: 400;
        margin-top: 21px;
    }
    
}